.dashboard {
  padding: 20px;
  background-color: #f9fafc;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h2 {
  color: #132c4a;
}

header button {
  background: #132c4a;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}

section {
  margin-top: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: center;
}

th {
  background-color: #132c4a;
  color: white;
}
